*.swp
__pycache__
build
*.pyc

#Coverage Reports
htmlcov
.coverage
.cache

*.egg-info
logs

# Sphinx
docs/source/generated/*

#pytest
.pytest_cache
.vscode

# nfs
.nfs*

#custom
./widgets/test.ui
./widgets/test.py
